Source: garfield-shell
Section: utils
Priority: extra
Maintainer: Fachschaft Mathe/Info Rechner-Admins <rechner@fsmi.uni-karlsruhe.de>
Build-Depends: debhelper (>= 9), libpq-dev
Standards-Version: 3.9.8
Homepage: https://github.com/kitinfo/garfield-shell
Vcs-Git: https://github.com/kitinfo/garfield-shell.git
Vcs-Browser: https://github.com/kitinfo/garfield-shell/commits/master

Package: garfield-shell
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Command line interface to the Garfield database
 garfield-snack provides access to the snack sales subsystem (find and buy snacks)
 garfield-user handles user and account management (deposit/withdraw money, view history)
